.character-page-container{
    display: flex;
    box-shadow: white 0px 3px 8px;
    justify-content: center;
    background-color: white;
    height: 700px;
    margin: 100px;
    border-radius: 10px;


}

.character-page-image{
    flex: 1;
    padding: 10px;
    border-radius: 30px;

    
}

.character-page-content{
    flex: 1;
    margin: 50px;


}

.character-page-name{
    font-size: 50px;
    font-weight: bold;
}